h1{
    color: white;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
}

body{
    background-image:url(../img/hatter.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h2{
    color: rgba(0, 0, 0, 0.877);
    font-family: "Times New Roman", Times, serif;
    
}