h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
header{
    background-color: rgba(51, 102, 212, 0.301);
}
body{
    background-image: url(https://storage.googleapis.com/welove-media/16/huculka_polyak-attila_20180212.exact1980w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h2{
    color: rgba(99, 91, 245, 0.877);
}